<launch>
	<!-- 
		Tool Description
		================
		This launch allows the creation of 2D environment maps, as the
		ones used by localization and navigation modules.

		Tool Usage
		================
		First launch the mapping_core.launch file. This will launch 
		the following: (base, lasers, mux and joystick)
			roslaunch bender_bringup mapping_core.launch

		You must also launch rviz to see how the map is built. Then, launch
		this file to start the mapping process.

		When you are satisfied with the map, run:
			rosrun map_server map_saver
	 -->
	<!-- Mapping Node -->
	<include file="$(find bender_bringup)/launch/localization/localization.launch">
		<arg name="type" value="gmapping"/>
	</include> 
</launch>