<launch>
	
	<!-- ================================================== -->
	<!-- ==================== PARAMETERS ================== -->
	<!-- ================================================== -->
	
	<!-- robot configuration -->
	<arg name="model_type"     default="standard"/>

	<!-- robot simulation -->
	<arg name="robot"      default="real"/> <!-- { real, gazebo, stage } -->
	<arg name="worldname"  default="stage"/>


	<!-- ================================================== -->
	<!-- ==================== HARDWARE ==================== -->
	<!-- ================================================== -->
	
	<!-- ================================= -->
	<!-- == REAL HARDWARE VS. SIMULATOR == -->
	<!-- ================================= -->
	<include file="$(find bender_bringup)/launch/robot/$(arg robot).xml">
		<arg name="worldname"    value="$(arg worldname)"/>
		<arg name="model_type"   value="$(arg model_type)"/>
	</include>

	<!-- ================================== -->
	<!-- ==         COMMON STUFF         == -->
	<!-- ================================== -->

	<!-- Robot Joystick -->
	<include file="$(find bender_joy)/launch/joysticks.launch"/>

	

</launch>