<?xml version="1.0"?>
<launch>
    <arg name="map_name" default="stage_real"/>
    <arg name="use_rviz" default="true"/>
    
    <include file="$(find bender_bringup)/launch/bender_minimal.launch"/>
    <include file="$(find uchile_pose_server)/launch/pose_server.launch"/>

	<!-- Mapper -->
	<include file="$(find uchile_util)/launch/mapper.launch"/>

	<include file="$(find bender_bringup)/launch/localization/localization.launch">
        <arg name="map_name" value="stage_real"/>
    </include>
	<include file="$(find bender_bringup)/launch/navigation/navigation.launch">
        <arg name="map_name" value="stage_real"/>
    </include>  

    <group if="$(arg use_rviz)">
        <include file="$(find bender_rviz)/launch/rviz_launcher.launch"/>
    </group>
</launch>