<?xml version="1.0"?>
<launch>
    <arg name="map_name"   default="stage_real"/>
    <arg name="use_rviz"   default="true"/>

    <!-- laser topics to merge -->
    <arg name="use_camera"      default="true" />
    <arg name="use_merger"      default="true"/>
	<arg name="laser_hokuyo"	default="/bender/sensors/laser_front/scan" />
	<arg name="laser_cropped"   default="/bender/sensors/laser_front/scan_cropped" />
	<arg name="laser_virtual"	default="/bender/sensors/d435_camera/laser_front/scan" />
    <arg name="laser_multi"     default="/bender/sensors/scan_multi" />


	<!-- laser cropper params -->
	<arg name="camera_fov_start_angle" default="-45" />
	<arg name="camera_fov_end_angle"   default="45" />

    <group if="$(arg use_camera)">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="tf_prefix"   value="d435_camera" />       
        </include>
    </group>


    <include file="$(find bender_bringup)/launch/bender_minimal.launch"/>
    <include file="$(find uchile_pose_server)/launch/pose_server.launch"/>

    <!-- Mapper -->
    <include file="$(find uchile_util)/launch/mapper.launch"/>

    <!-- Merger -->
    <group if="$(arg use_merger)">
        <include file="$(find depthimage_to_laserscan)/launch/depth2laser_bender.launch">
            <arg name="laser1"		value="$(arg laser_hokuyo)" />
            <arg name="laser2"		value="$(arg laser_virtual)" />
        </include>

        <include file="$(find uchile_laser_pipeline)/launch/laser_cropper.launch">
            <arg name="min_angle" 		value="$(arg camera_fov_start_angle)" />
            <arg name="max_angle"   	value="$(arg camera_fov_end_angle)" />
            <arg name="laser_topic_in"  value="$(arg laser_multi)"/>
            <arg name="laser_topic_out" value="$(arg laser_cropped)"/>
            <arg name="run_urg"         value="false"/>	
        </include>
    </group>

    <include file="$(find bender_bringup)/launch/localization/localization.launch">
        <arg name="map_name" value="$(arg map_name)"/>
    </include>

    <!-- Navigation -->
    <include file="$(find bender_bringup)/launch/navigation/navigation.launch">
        <arg name="map_name" value="$(arg map_name)"/>
    </include>  

    <group if="$(arg use_rviz)">
        <include file="$(find bender_rviz)/launch/rviz_launcher.launch"/>
    </group>
</launch>
