<launch>

	<!-- ================================================== -->
	<!-- ==================== PARAMETERS ================== -->
	<!-- ================================================== -->
	
	<!-- robot configuration -->
	<arg name="model_type"     default="standard"/>
	<arg name="language"       default="english"/>

	<!-- GUI -->
	<arg name="rviz"           default="true"/>
	<arg name="rqt_gui"        default="false"/>
	<arg name="show_subtitles" default="false"/> <!-- { english , spanish } -->

	<!-- robot simulation -->
	<arg name="robot"      default="real"/> <!-- { real, gazebo, stage } -->
	<arg name="worldname"  default="amtc"/>

	<!-- simulator specific parameters -->
	<arg name="gazebo_gui" default="true"/>



	<!-- ================================================== -->
	<!-- ==================== HARDWARE ==================== -->
	<!-- ================================================== -->

	<!-- Sound Player -->
	<include file="$(find bender_sound)/launch/sound.launch"/>

	<!-- TTS -->
	<include file="$(find bender_tts)/launch/tts.launch">
    	<arg name="language"       value="$(arg language)"/>
    	<arg name="show_subtitles" value="$(arg show_subtitles)"/>
	</include>

	<!-- ARMS -->
	<arg name="simulation"   default="false"/>
	<group unless="$(arg simulation)">
		<!-- ARMs and HEAD controllers -->
		<include file="$(find bender_arm)/launch/arms.launch" />
	</group>	
	
	<!-- MANIPULATION -->
	<include file="$(find bender_arm_control)/launch/planning.launch" />
	<include file="$(find uchile_states)/launch/manipulation.launch" />


	<!-- Report Generator -->
	<include file="$(find uchile_report_generator)/launch/report_generator.launch"/>
	<include file="$(find uchile_rosbag_record)/launch/rosbag_record.launch"/>

	<!-- uchile_rqt_batteries -->
	
	<include file="$(find uchile_rqt_batteries)/launch/notebook_battery.launch">
		<arg name="name" value="green"/>
	</include>


</launch>
