<launch>

	<!-- ================================================== -->
	<!-- ==================== PARAMETERS ================== -->
	<!-- ================================================== -->

	<!-- robot configuration -->
	<arg name="model_type"     default="standard"/>
	<arg name="language"       default="spanish"/> <!-- { english , spanish } -->

	<!-- GUI -->
	<arg name="rviz"           default="true"/>
	<arg name="rqt_gui"        default="false"/>
	<arg name="show_subtitles" default="false"/>

	<!-- robot simulation -->
	<arg name="worldname"  default="amtc"/>

	<!-- simulator specific parameters -->
	<arg name="gazebo_gui" default="true"/>
	<arg name="x"          default="0"/>
	<arg name="y"          default="0"/>
	<arg name="theta"      default="0"/>

	<!-- laser topics to merge -->
	<arg name="laser1"		default="/bender/sensors/laser_front/scan" />
	<arg name="laser2"		default="/bender/sensors/d435_camera/laser/scan" />

	<!-- laser cropper params -->

	<arg name="camera_fov_start_angle" default="-45" />
	<arg name="camera_fov_end_angle"   default="45" />
	<arg name="laser_topic"            default="bender/sensors/scan_multi" />
	
	
	


	<!-- ================================================== -->
	<!-- ==================== HARDWARE ==================== -->
	<!-- ================================================== -->
	
	<!-- ================================= -->
	<!-- == REAL HARDWARE VS. SIMULATOR == -->
	<!-- ================================= -->
	<include file="$(find bender_bringup)/launch/robot/gazebo.xml">
		<arg name="gui"          value="$(arg gazebo_gui)"/>
		<arg name="rqt_gui"      value="$(arg rqt_gui)"/>
		<arg name="worldname"    value="$(arg worldname)"/>
		<arg name="model_type"   value="$(arg model_type)"/>
		<arg name="x" 		     value="$(arg x)"/>
		<arg name="y"  			 value="$(arg y)"/>
		<arg name="theta" 	 	 value="$(arg theta)"/>
	</include>

	<!-- Depthimage to laserscan and laser merger-->
	<include file="$(find depthimage_to_laserscan)/launch/depth2laser_bender.launch">
		<arg name="laser1"		value="$(arg laser1)" />
		<arg name="laser2"		value="$(arg laser2)" />
	</include>


	<!-- Laser cropper -->
	<include file="$(find urg_node)/launch/laser_cropper.launch">
		<arg name="min_angle" 	value="$(arg camera_fov_start_angle)" />
		<arg name="max_angle"   value="$(arg camera_fov_end_angle)" />
	</include>


	<!-- ================================== -->
	<!-- ==         COMMON STUFF         == -->
	<!-- ================================== -->
	<!-- cmd_vel_mux -->
	<include file="$(find uchile_cmd_vel_mux)/launch/mux.launch"/>
	
	<!-- robot laser self filter  -->
	<!-- <include file="$(find uchile_laser_pipeline)/launch/laser_pipeline.launch">
		<arg name="input_scan"  value="/bender/sensors/laser_front/scan"/>
		<arg name="output_scan" value="/bender/sensors/laser_front/scan_filtered"/>
	</include> -->
	
	<!-- footprint generator  -->
	<include file="$(find uchile_footprint_generator)/launch/footprint_generator.launch"/>
	
	<!-- Sound Player -->
	<!-- <include file="$(find bender_sound)/launch/sound.launch"/> -->

	<!-- TTS -->
	<!-- <include file="$(find bender_tts)/launch/tts.launch">
    	<arg name="language"       value="$(arg language)"/>
    	<arg name="show_subtitles" value="$(arg show_subtitles)"/>
	</include> -->
	
	<!-- =================================================== -->
	<!-- ==================== KNOWLEDGE ==================== -->
	<!-- =================================================== -->

	<!-- Pose Server -->
	<include file="$(find uchile_pose_server)/launch/pose_server.launch"/>

	<!-- Mapper -->
	<include file="$(find uchile_util)/launch/mapper.launch"/>

	<include file="$(find bender_bringup)/launch/localization/localization.launch" >
		<arg name="map_name" value="$(arg worldname)"/>
	</include>
	<include file="$(find bender_bringup)/launch/navigation/navigation.launch" />

	<group if="$(arg rviz)">
		<include file="$(find bender_rviz)/launch/rviz_launcher.launch"/>
	</group>
</launch>
